<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">



<suite name="">

    <listeners>
        <listener class-name="Org.Hmarkets.Tests.Listeners.TestListeners"/>
    </listeners>

    <test name="Create Remittance Tests Using Remitter and Beneficiary Contacts">
        <parameter name="Browser" value="chrome"/>

        <classes>

            <class name="Org.Hmarkets.Tests.Tests.LiveAccountCreationTests">
<methods>

    <include name=""/>

</methods>
            </class>
        </classes>
    </test>


</suite>